---
import Layout from "../layouts/Layout.astro";
import Products from "../components/Products.jsx";
---

<Layout title="productos shein">
    <div class="products-body">
        <Products/>
    </div>
</Layout>

<style>
    .products-body{
        margin-top: 200px;
        margin-bottom: 200px;
    }
</style>